/.project
/.settings/.jsdtscope
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.settings/org.eclipse.wst.jsdt.ui.prefs
.idea/.name

.idea/misc.xml

.idea/iorders.iml

.idea/scopes/scope_settings.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/encodings.xml

.idea/modules.xml
